nav {
}

.top-bar {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.top-bar details {
		font-size: 1.4rem;
		font-weight: bold;
		display: flex;
		justify-content: center;
}
.top-bar details div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



/* .top-bar details */

.top-bar .month-bar {
	max-width: min(100%, 40rem)
}
.top-bar .results {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-content: start;
	align-items: center;
	max-height: 20rem;
	overflow-y: auto;
}
.top-bar .results > * {
	width: min(100%, 12rem);
}
.top-bar .results > button {
	padding: 0.3rem 1rem;
}

/* .top-bar details div:has(.results-alt) { */
/* 	max-width: min(100%, 20rem) */
/* 	 */
/* } */
.top-bar .results-alt {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.3rem;
	justify-content: center;
	/* align-items: center; */
	/* max-width: min(100%, 10rem); */
	/* overflow-x: auto; */
}
.top-bar .results-alt > * {
	/* width: min(100%, 12rem); */
}
.top-bar .results-alt > button {
	padding: 0.3rem 1rem;
}
.top-bar input {
		width: min(100%, 20rem);
}

.center {
  text-align: center;
}

.month-sections {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.month-bar {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  min-height: 2rem;
  overflow-x: auto;
}

.month-bar button {
  padding: 0.3rem 1rem;
  flex-shrink: 0;
}
.month-bar div[role='button'] {
  border-radius: 15%;
}

.overall-section {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 1rem;
}

.overall-section-totals {
  flex-grow: 2;
  flex: display;
  flex-direction: column;
  align-items: center;
}
/* remove margin from inside header elements since header already has margin */
article > header > * {
  margin: 0;
}
.overall-section-totals > header {
  text-align: center;
}

.overall-section-totals > .overall-section-totals-list {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.overall-section-totals > .overall-section-totals-list > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.overall-section-totals-item {
}

.transactions-section {
  display: flex;
  flex-direction: column;
  height: 20rem;
  padding-top: 1rem;
}
.transactions-section .center {
  text-align: center;
}

.transactions-section-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: row;
  gap: 1rem;
}

.transactions-section-bar > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.top-categories {
  flex-grow: 3;
  max-width: 32rem;
  /* padding: 0.1rem 0.2rem; */
}
.top-categories > header {
  text-align: center;
}
.top-categories-list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  max-height: 12rem;
  overflow-y: auto;
}

.top-categories-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top-categories-item .spread {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-categories-item .category,
.spent {
  font-size: 1rem;
  /* font-size: 1.2rem; */
  text-transform: capitalize;
}

.top-categories-item .goal {
  font-size: 0.8rem;
}

.top-categories-item progress.over {
  --pico-progress-color: #b22222;
}

.top-categories-item progress.low {
  --pico-progress-color: green;
}

.top-categories > footer {
  display: flex;
  justify-content: center;
}
