/* @import url("./css/reset.css") */
/* @import url("./css/pico.min.css") */
nav {
}

.center {
  text-align: center;
}

.month-sections {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.month-bar {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  min-height: 2rem;
  overflow-x: auto;
}

.month-bar button {
  padding: 0.3rem 1rem;
  flex-shrink: 0;
}
.month-bar div[role='button'] {
  border-radius: 15%;
}

.overall-section {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 1rem;
}

.overall-section-totals {
  flex-grow: 2;
  flex: display;
  flex-direction: column;
  align-items: center;
}

.overall-section-totals > header {
	text-align: center
}

.overall-section-totals > .overall-section-totals-list {
}

.overall-section-totals > .overall-section-totals-list > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.overall-section-totals-item {
}

/* .overall-section-categories { */
/*   flex-grow: 3; */
/*   padding: 0.1rem 0.2rem; */
/* } */

/* .overall-section-categories-title { */
/*   text-align: center; */
/* } */
/*  */
/* .overall-section-categories-rows { */
/*   display: flex; */
/*   flex-direction: column; */
/*   justify-content: start; */
/*   max-height: 8rem; */
/*   overflow-y: auto; */
/* } */
/* .overall-section-categories-row { */
/*   display: flex; */
/*   flex-wrap: wrap; */
/*   justify-content: space-between; */
/* } */

.transactions-section {
  display: flex;
  flex-direction: column;
  height: 20rem;
  padding-top: 1rem;
}
.transactions-section .center {
  text-align: center;
}

.transactions-section-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: row;
  gap: 1rem;
}

.transactions-section-bar > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.top-categories {
  flex-grow: 3;
  max-width: 32rem;
  /* padding: 0.1rem 0.2rem; */
}
.top-categories > header {
  text-align: center;
}
.top-categories-list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  max-height: 12rem;
  overflow-y: auto;
}

.top-categories-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top-categories-item .spread {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-categories-item .category,
.spent {
  font-size: 1rem;
  /* font-size: 1.2rem; */
  text-transform: capitalize;
}

.top-categories-item .goal {
  font-size: 0.8rem;
}

.top-categories-item progress.over {
  --pico-progress-color: #b22222;
}

.top-categories-item progress.low {
  --pico-progress-color: green;
}

.top-categories > footer {
  display: flex;
  justify-content: center;
}
