/* @import url("./css/reset.css") */
/* @import url("./css/pico.min.css") */
nav {
}

.center {
  text-align: center;
}

.month-sections {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.month-bar {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  min-height: 2rem;
  overflow-x: auto;
}

.month-bar button {
  padding: 0.3rem 1rem;
  flex-shrink: 0;
}
.month-bar div[role='button'] {
  border-radius: 15%;
}

.overall-section {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.overall-section-totals {
  flex-grow: 2;
  flex: display;
  flex-direction: column;
  align-items: center;
  padding: 0.1rem 0.2rem;
}

.overall-section-totals > * {
  width: 1fr;
}

.overall-section-totals > h3,
h4 {
  text-align: center;
}

.overall-section-totals-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.overall-section-categories {
  flex-grow: 3;
  padding: 0.1rem 0.2rem;
}

.overall-section-categories-title {
  text-align: center;
}

.overall-section-categories-rows {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-height: 8rem;
  overflow-y: auto;
}
.overall-section-categories-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.transactions-section {
  display: flex;
  flex-direction: column;
  height: 20rem;
  padding-top: 1rem;
}
.transactions-section .center {
  text-align: center;
}

.transactions-section-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: row;
  /* gap: 1rem; */
}

.transactions-section-bar > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
