nav {
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.month-picker summary {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: bold;
}
.month-picker > .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

month-picker .-gone {
  display: none;
}

.month-picker > .content > .results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.3rem;
  justify-content: center;
  max-height: 40rem;
  overflow-y: auto;
}
.month-picker > .content > .results > button {
  padding: 0.3rem 1rem;
}
.month-picker > .content .search {
  width: min(100%, 20rem);
}

/* For all cards */
.card summary {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: bold;
}
.card details {
  margin-bottom: 0;
}
.card > .content {
  display: flex;
  flex-direction: column;
}

.totals-card {
}

.center {
  text-align: center;
}

.month-sections {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.month-bar {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  min-height: 2rem;
  overflow-x: auto;
}

.month-bar button {
  padding: 0.3rem 1rem;
  flex-shrink: 0;
}
.month-bar div[role='button'] {
  border-radius: 15%;
}

.overall-section {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 1rem;
}

.card details > summary {
  font-weight: bold;
}

.totals-card {
  flex-grow: 2;
}

.overall-section-totals {
  flex-grow: 2;
  flex: display;
  flex-direction: column;
  align-items: center;
}
/* remove margin from inside header elements since header already has margin */
article > header > * {
  margin: 0;
}

.overall-section-totals-list {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.overall-section-totals-list > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.overall-section-totals-item {
}

.transactions-section {
  display: flex;
  flex-direction: column;
  height: 20rem;
  padding-top: 1rem;
}
.transactions-section .center {
  text-align: center;
}

.transactions-section-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: row;
  gap: 1rem;
}

.transactions-section-bar > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.top-categories {
  flex-grow: 3;
  max-width: 32rem;
  /* padding: 0.1rem 0.2rem; */
}
.top-categories > header {
  text-align: center;
}
.top-categories-list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  max-height: 30rem;
  overflow-y: auto;
}

.top-categories-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top-categories-item .spread {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-categories-item .category,
.spent {
  font-size: 1rem;
  /* font-size: 1.2rem; */
  text-transform: capitalize;
}

.top-categories-item .goal {
  font-size: 0.8rem;
}

.top-categories-item progress.over {
  --pico-progress-color: #b22222;
}

.top-categories-item progress.low {
  --pico-progress-color: green;
}

.top-categories > footer {
  display: flex;
  justify-content: center;
}

.breakdown-sections-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap-reverse;
}

.breakdown-sections-container > .categories-section {
  flex-grow: 4;
  max-width: 30rem;
}

.breakdown-card > .sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.breakdown-card > header {
  /* text-align: center; */
}
.totals-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 2rem; */
}

.totals-section > .chart-section {
  padding-bottom: 1rem;
}
.totals-section > .overall-section-totals-list {
  max-width: 20rem;
  width: 100%;
  padding-bottom: 1rem;
}
.breakdown-sections-container > .totals-section {
  flex-grow: 3;
}

.categories-section {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.categories-section > .filters {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.scroll-x {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  justify-content: start;
}
.scroll-x > * {
  flex-shrink: 0;
}

.categories-section .-gone {
  display: none;
}

button.small,
.button.small {
  padding: 0.3rem 0.4rem;
}

select.small {
  padding: 0.3rem 1.6rem 0.3rem 0.8rem;
  width: auto;
  background-position: center right 0.4rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.form-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: end;
  gap: 1rem;
}
.form-row input,
label {
  margin-bottom: 0;
}
